<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python39\python.exe|D:\home\Python39\lib\site-packages\waitress\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Python FastCGI" patternSyntax="ECMAScript">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
                    </conditions>
                    <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

    <appSettings>
        <add key="WSGI_HANDLER" value="main.app" />
        <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
        <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log" />
    </appSettings>
</configuration>